{% extends 'base.html.twig' %}

{% block title %}Recherche de Restaurants{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Recherche de Restaurants</h1>
    <h2 class="text-xl font-semibold mb-4">liste des restaurants correspondants à votre recherche.</h2>

    <div id="searchResults" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Les résultats de recherche seront insérés ici -->
    </div>
</div>
{% endblock %}

