<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restouf'{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-100">
    {% include 'parts/header.html.twig' %}

    <main class="flex-grow container mx-auto px-6 py-8">
        {% block body %}{% endblock %}
    </main>

    {% include 'parts/footer.html.twig' %}

    {% block javascripts %}
        <script>
            document.getElementById('todays-year').textContent = new Date().getFullYear();
        </script>
    {% endblock %}
</body>
</html>
